.chat__menu {
  width: 230px;
  max-width: 230px;
  flex-shrink: 1;
  flex-grow: 1;
  background: #563e58;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat__channel {
  background: #ffffffc9;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.section-header {
  box-sizing: border-box;
  position: relative;
  height: 63px;
  padding: 18px 15px;
}

.chat-menu__header {
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'IBM Plex Sans', sans-serif;
}

.chat-menu__header-workspace {
  font-size: 18px;
  color: white;
  margin: 0;
}

.chat-menu__header-user {
  font-size: 13px;
  color: #ffffff7e;
  margin: 0;
  line-height: 20px;
}

.chat-menu__header-user-status {
  color: #20a38d;
  margin-right: 7px;
  font-size: 10px;
  line-height: 0;
}

.chat-menu__header::after {
  display: block;
  position: absolute;
  bottom: 0;
  content: '';
  height: 1px;
  background-color: #563e58;
  border-bottom: 1px solid #6b4b6e;
  left: 0;
  right: 0;
}

.chat-menu__channels {
  padding: 15px 0 15px 0;
  max-height: calc(100vh - 63px);
  overflow-y: auto;
}

.channels-list__title {
  color: #ffffffc9;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding-left: 15px;
}

.channels-list {
  list-style-type: none;
  margin: 0 0 0 0px;
  padding: 0;
  max-height: calc(100vh - 63px);
}

.chat-channel__messages {
  list-style-type: none;
  padding: 25px;
  margin: 0;
  flex-grow: 1;
  overflow: auto;
}
