.message-list__message {
  display: flex;
  padding: 16px 24px 0 24px;
}

.message__avatar {
  margin-right: 10px;
  min-width: 38px;
}

.message__avatar-image {
  min-width: 38px;
  min-height: 38px;
  max-width: 38px;
  max-height: 38px;
}

.message-header__name {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bolder;
  font-size: 15px;
  line-height: 15px;
  display: inline-block;
  margin: 0;
}

.message-header__created-time {
  color: #8d8d8d;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 12px;
  margin-left: 5px;
}

.message-body__text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333;
}

@media (max-width: 330px) {
  .message-header__name {
    display: block;
  }

  .message-header__created-time::before {
    content: '';
  }

  .message-header__created-time {
    font-size: 15px;
  }
}
