.chat__message-sender {
  padding: 0px 17px 17px 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-sender__form {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #9e9e9e;
  border-radius: 4px;
}

.form__message {
  height: 40px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #333;
  border: none;
  padding: 0 10px;
  flex: 1;
}

.form__emoji-button {
  background: none;
  border: none;
}

.form__emoji-button__icon {
  font-size: 20px;
  color: #808080;
  margin-right: 10px;
  margin-top: 4px;
}

@media (max-width: 370px) {
  .form__message {
    margin: 0 24px 0 0;
  }
}
