.header {
  height: 65px;
  border-bottom: 1px solid #eeeeee;
  padding: 16px 22px;
  color: #333;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.header__title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  line-height: normal;
  font-size: 25px;
}

@media (max-width: 245px) {
  .header {
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .header__title {
    margin: 0;
  }
}
