html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  word-wrap: break-word;
}

*:focus {
  outline: none;
}
