.channels-list__item-selected,
.channels-list__item:hover {
  background-color: #49c4a1;
}

.channels-list__button {
  color: #ffffffc9;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  text-decoration: none;
  line-height: 17px;
  font-size: 17px;
  padding: 6px 0 6px 20px;
  display: block;
}

.channels-list__button::before {
  content: '#';
  color: #ffffff9f;
  font-weight: lighter;
  margin-right: 5px;
  font-size: 19px;
  line-height: 15px;
}

.channels-list__button:hover::before,
.channels-list__button-selected::before {
  font-weight: 900;
  color: white;
}

.channels-list__button:hover,
.channels-list__button-selected {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
