.channels-list__item button {
  background: none;
  border: none;
  width: 100%;
  display: block;
  cursor: pointer;
  margin: 0;
  text-align: left;
}
.channels-list__item button:focus {
  outline: none;
}

.channels-list__item:last-child {
  margin-bottom: 0.5rem;
}

.channels-list__item:hover {
  background-color: #443046;
}

.channels-list__item-selected,
.channels-list__item-selected:hover {
  background-color: #20a38d;
}

.channels-list__button {
  color: #ffffffc9;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  text-decoration: none;
  line-height: 16px;
  font-size: 16px;
  padding: 6px 0 6px 15px;
  display: block;
}

.channels-list__button::before {
  content: '#';
  color: #ffffff9f;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  margin-right: 5px;
}

.channels-list__button:hover::before,
.channels-list__button-selected::before {
  font-weight: normal;
  color: white;
}

.channels-list__button:hover,
.channels-list__button-selected {
  color: white;
  font-weight: normal;
  text-decoration: none;
}
